#I{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding: 50px;
    border: solid;
    border-top-width: 30px;
    border-left-width: 30px;
    border-right-width: 10px;
    border-bottom-width: 10px;

    border-left-color: blue;
    

    border-top-color:red;

    border-right-color:yellow;
    border-bottom-color:green;



    
}
